/*
** Jonathan Levy - Jale - JAlehouse.com / Jonathanlevy.fr
** 2012
*/

/*
** RESET
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
.dl, dt, dd, ol, ul, li,
.fieldset, form, label, legend,
.table, caption, tbody, tfoot, thead, tr, th, td,
.article, aside, canvas, details, figcaption, figure,
.footer, header, hgroup, menu, nav, section, summary,
.time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}

a, a:link, a:hover, a:active, a:visited { color: inherit; text-decoration: none; }

/*
** GENERAL
*/
.jonathanlevy_clearer { clear:both; }

::selection { background:#f90; color:#fff; }
::-moz-selection { background:#f90; color:#fff; }
::-o-selection { background:#f90; color:#fff; }
::-ms-selection { background:#f90; color:#fff; }
::-webkit-selection { background:#f90; color:#fff; }

/*
** FONT
*/
@font-face {
    font-family: 'Powdah';
    src: url('font/powdah.eot');
    src: url('font/powdah.eot?#iefix') format('embedded-opentype'),
         url('font/powdah.woff') format('woff'),
         url('font/powdah.ttf') format('truetype'),
		 url('powdah-webfont.svg#') format('svg');
    font-weight: normal;
    font-style: normal;
}


/*
** MAIN
*/
html, body { 
	width:100%;
	height:100%;
	background:#333; 
	font-family: 'Powdah';
	font-size:12px;
}

	#jonathanlevy_main-container {
		padding:0 0 0 5%;
	}
		
		#jonathanlevy_inner-container {
			padding:40px 0 0 0;
			overflow-x:hidden;
		}
		
			#jonathanlevy_pages-container {
				width:8000px;
			}
		
				.jonathanlevy_pages {
					float:left;
					margin:0 80px 0 0; 
					width:900px;
				}

/*
** MENU
*/
nav {
	width:100%;
	height: 0px;
	background:#222; 
	transition: height 0.4s;
	-moz-transition: height 0.4s; /* Firefox 4 */
	-webkit-transition: height 0.4s; /* Safari and Chrome */
	-o-transition: height 0.4s; /* Opera */
	-ms-transition: height 0.4s; /* ms */
}
nav:hover, nav:active {	height: 65px; cursor:pointer; }

	/* menu-list */
	nav ul {
		padding:5px 0 0 5%;
		list-style:none;
		height:55px;
		overflow:hidden;
	}
	
		/* menu-dot */
		nav ul li {
			display:inline-block;
			margin:0 15px 0 0;
			position:relative;
			top:-100px;
			text-align:center;
			
			transition: all 0.3s;
			-moz-transition: all 0.3s; /* Firefox 4 */
			-webkit-transition: all 0.3s; /* Safari and Chrome */
			-o-transition: all 0.3s; /* Opera */
			-ms-transition: all 0.3s; /* ms */
		}
		
		/* menu-dot */
		nav ul:hover li {
			top:0;
		}
		
			/* menu-title */
			nav ul li p {
				color:#fff;
				opacity:0;
			}
			
			/* menu-link_text */
			nav ul li p {
				transition: opacity 0.3s;
				-moz-transition: opacity 0.3s; /* Firefox 4 */
				-webkit-transition: opacity 0.3s; /* Safari and Chrome */
				-o-transition: opacity 0.3s; /* Opera */
				-ms-transition: opacity 0.3s; /* ms */
			}
	
		nav ul:hover li a img, nav ul:active li a img, nav ul:hover li p {
			opacity: 1;
		}
		
		/* menu-link_icon */
		nav ul li a img {
			width:30px;
			opacity: 0;
			
			transition: opacity 0.3s;
			-moz-transition: opacity 0.3s; /* Firefox 4 */
			-webkit-transition: opacity 0.3s; /* Safari and Chrome */
			-o-transition: opacity 0.3s; /* Opera */
			-ms-transition: opacity 0.3s; /* ms */
		}

	
			/* menu-link */
			nav ul li a {
				display:inline-block;
				padding:7px;
				
				transition: background 0.3s;
				-moz-transition: background 0.3s; /* Firefox 4 */
				-webkit-transition: background 0.3s; /* Safari and Chrome */
				-o-transition: background 0.3s; /* Opera */
				-ms-transition: background 0.3s; /* Opera */
			}
			/* menu-link:hover */
			nav ul li a:hover, nav ul li a:active, nav ul li a:target  {
				background:#333;
			}
			
			
/*
** HEADER
*/
#jonathanlevy_header {
	width:890px;
	height:40px;
	margin:50px 0 0 0;
}
	/* h1 - title */
	header h1 {
		font-size:2.8em;
		font-weight:100;
		float:left;
		color:#fff;
	}

	#jonathanlevy-avat_container {
		width:115px;
		float:right;
	}
	
		/* h2 - avatfirstname */
		#jonathanlevy-avat_container h2 {
			float:left;
			font-size:1.3em;
			font-weight:100;
			text-align:right;
			color:#fff;
		}
			/* aside - avatlastname */
			#jonathanlevy-avat_container h2 aside {
				font-size:0.9em;
				font-weight:100;
				text-align:right;
				color:#fff;
			}
		/* avatpic */
		#jonathanlevy-avat_container img {
			float:right;
			height:40px;
			width:40px;
		}
		
/*
** BODY
*/
section {
	margin:0 10px 10px 0;
	float:left;
	overflow:hidden;
	
	-webkit-box-shadow: inset 1px 1px 1px 1px rgba(255, 255, 255, 1);
	-moz-box-shadow: inset 1px 1px 1px 1px rgba(255, 255, 255, 1);
	-o-box-shadow: inset 1px 1px 1px 1px rgba(255, 255, 255, 1);
	-ms-box-shadow: inset 1px 1px 1px 1px rgba(255, 255, 255, 1);
	box-shadow: inset 1px 1px 1px 1px rgba(255, 255, 255, 1);
}

/* displays format */
.tiny { height:90px; width:290px; }
.middle { height:190px; width:290px; }
.big { height:190px; width:590px; }

	section a {
		display:block;
	}

	/* displays tip */
	section header {
		padding: 0;
		height:30px;
		padding:10px;
		background:#fcfbf9;
		
		transition: all 0.4s;
		-moz-transition: all 0.4s; /* Firefox 4 */
		-webkit-transition: all 0.4s; /* Safari and Chrome */
		-ms-transition: all 0.4s; /* ms */
		-o-transition: all 0.4s; /* Opera */
	}
	
		/* displays tip:hover */
		section:hover .jonathanlevy_display-panel {
			margin-left:0;
			cursor:pointer;
		}

			/* --- header hover --- */
			section a header:hover a img {
				border-left:1px solid #fff;
			}
			
			/* --- header hover --- */
	
		.jonathanlevy_title-container {
			float:left;
		}
		
			/* displays title */
			section header h1 {
				font-size:14px;
				font-weight:700;
				float:left;
				color:#444;
			}
				
			/* displays keys */
			section header h2 {
				font-size:10px;
				clear:left;
				color:#f90;
			}
	
		/* displays container:next */
		.jonathanlevy_next-container {
			float:right;
			height:19px;
			width:45px;
			position:relative;
			top:6px;
			left:0;
			overflow:hidden;
			cursor:pointer;
			border-left:1px solid #555;
		}
		
		section a:hover header img {
			left:5px;
		}
		
		/* displays next */
		section header img {
			height:19px;
			width:18px;
			position:relative;
			top:0;
			left:0;
			padding-left:20px; 
			
			transition: left 0.2s ease-out;
			-moz-transition: left 0.2s ease-out; /* Firefox 4 */
			-webkit-transition: left 0.2s ease-out; /* Safari and Chrome */
			-ms-transition: left 0.2s ease-out; /* ms */
			-o-transition: left 0.2s ease-out; /* Opera */
		}
	
	/* displays img */
	section img {
		width:100%;
		height:140px;
		border:0;
	}
	
	.jonathanlevy_display-container {
		position:relative;
		overflow:hidden;
		height:100%;
	}
	
		.jonathanlevy_display-container:hover .jonathanlevy_display-panel {
			margin-left:0;
			cursor:pointer;
		}
	
	/* displays mask */
	.jonathanlevy_display-panel {
		position:absolute;
		top:0;
		left:0;
		margin-left:100%;
		
		height:74%;
		width:100%;
		background:#FCFBF9;
		
		transition: all 0.3s;
		-moz-transition: all 0.3s; /* Firefox 4 */
		-webkit-transition: all 0.3s; /* Safari and Chrome */
		-o-transition: all 0.3s; /* Opera */
		-ms-transition: all 0.3s; /* ms */
	}
	
		/* displays show me more */
		.jonathanlevy_display-panel p {
			font-size: 1.2em;
			font-weight:bold;
			font-style:normal;
			text-align:center;
			
			width:150px;
			margin:45px auto 0 auto;
			padding:5px;
			
			background:#ddd;
			color:#333;
			border-left:1px solid #bbb;
			
			transition: all 0.2s;
			-moz-transition: all 0.2s; /* Firefox 4 */
			-webkit-transition: all 0.2s; /* Safari and Chrome */
			-o-transition: all 0.2s; /* Opera */
			-ms-transition: all 0.2s; /* ms */
		}
		
			/* displays show me more:hover */
			.jonathanlevy_display-panel:hover p, .jonathanlevy_display-panel:active p {
				background:#ccc;
				color:#fff;
				border-left:130px solid #ccc;
			}
			
			/* displays show me more:hover !exception */
			.big .jonathanlevy_display-panel:hover p, .big .jonathanlevy_display-panel:active p {
				border-left:430px solid #ccc;
			}
		
		/* displays show me more !exception */
		.tiny .jonathanlevy_display-panel p {
			margin:5px auto 0 auto;
		}
	
/*
** FOOTER
*/
footer {
	height:25px;
	clear:both;
}